
<div class="container mx-auto mt-8">

<app-table></app-table>
  <!-- تیتر اصلی -->

  <!-- بخش جدول و چارت -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <mat-card class="shadow-lg rounded-lg">
      <mat-card-header>
        <mat-card-title class="text-xl font-semibold text-gray-700">Crypto List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-crypto-list (cryptoSelected)="onCryptoSelected($event)"></app-crypto-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="shadow-lg rounded-lg bg-gray-50">
      <mat-card-header>
        <mat-card-title class="text-xl font-semibold text-gray-700">Crypto Chart</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-crypto-chart [priceData]="selectedPriceData"></app-crypto-chart>

      </mat-card-content>
    </mat-card>
  </div>

  <!-- دکمه‌های خرید و فروش -->
  <div class="text-center mt-6">
    <button class="mx-4 px-6 py-2 rounded-full bg-red-600 text-white hover:bg-red-700 transition duration-300 ease-in-out">Buy Crypto</button>
    <button class="mx-4 px-6 py-2 rounded-full bg-blue-600 text-white hover:bg-blue-700 transition duration-300 ease-in-out">Sell Crypto</button>
  </div>

</div>
